-- Revoke privileges on the database if necessary
REVOKE ALL PRIVILEGES ON DATABASE <database_name> FROM <username>;

-- Drop the user if it exists
DROP USER IF EXISTS <username>;

-- Create the user
CREATE USER <username> PASSWORD '<password>';

-- Grant privileges to the user
GRANT ALL PRIVILEGES ON DATABASE <database_name> TO <username>;